/* GapVis styles. */

html, body {
    font-family: Georgia, Garamond, serif;
    overflow: hidden;
}
h1, h2, h3, h4 {
    font-style: italic;
    color: steelblue;
}

/* header */
header {
    padding: 10px 20px 0 20px;
    height: 40px;
}
header h1 {
    margin: 0;
}
footer {
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    font-size: .8em;
    color: #999;
}

/* top view */
div.topview {
    position: absolute;
    background: #eee;
    top: 50px;
    bottom: 30px;
    right: 20px;
    left: 20px;
    padding: 15px;
    display: none;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
div.navigation-view {
    float: right;
}

/* book reading view */
div#reading-pane {
    position: relative;
    width: 40%;
    height: 80%;
    float: left;
}
div#timemap-view {
    position: relative;
    margin-left: 40%; 
    height: 80%;
    border: 1px solid #CCC;
}
div#page-view {
    position: relative;
    overflow: hidden;
    height: 100%;
}
div.single-page {
    position: absolute;
    top: 0;
    bottom: 20px;
    background: #FFF;
    border: 1px solid #CCC;
    overflow: auto;
    margin-bottom: 1em;
    font-size: 1.2em;
    padding: 1.5em 1em;
    display: none;
}
div.single-page .img {
    display: none;
}
div.single-page .img img {
    width: 100%;
}
div#page-control-view {
    width: 95%;
    position: absolute;
    bottom: 0;
}

/* book summary view */
div#place-freq-bars-view {
    position: relative;
    width: 400px;
    background: #FFF;
    border: 1px solid #CCC;
    padding: 1.5em 1em;
    overflow: auto;
}
div#place-freq-bars-view svg {
    width: 380px;
}

/* specific text styles */
header h1 a {
    text-decoration: none;
}
span.place {
    color: steelblue;
    cursor: pointer;
    font-weight: bold;
}
span.place.hi {
    background: yellow;
}

a:link, a:visited, #book-list li {
    color: steelblue;
    cursor: pointer;
}
#book-list li {
    margin-bottom: .5em;
}

div.book-title-view h2 {
    margin: 0;
}
div.book-title-view h2.on {
    cursor: pointer;
}
div.book-title-view p {
    margin-top: 0;
}
#place-freq-bars-view h3 {
    margin: 0 0 .5em 0;
}

/* page control buttons */
span.control {
    color: #999;
    cursor: default;
}
span.control.on {
    color: steelblue;
    cursor: pointer;
}
span#prev, span#page-id {
    margin-right: 15px;
}
div#nextprev{
    float: right;
}
span.goto-reading {
    font-size: 2em;
    float: right;
}

/* timemap styles. */
div#timeline-container{
    position: relative;
    height: 35%;
    width: 100%;
}
div#timeline{
    font-size: 12px;
    height: 100%;
    width: 100%;
    background: #CCCCCC;
}
div#map-container {
    width: 100%;
    height: 65%;
}
div#map {
    width: 100%;
    height: 100%;
    background: #EEEEEE;
}

/* timeline controls */
div#timeline-controls {
    position: absolute;
    top: 0;
    z-index: 1000;
    background: #ccc;
    width: 25px;
    height: 50px;
}
div#timeline-controls div {
    width: 16px;
    height: 16px;
    margin: 5px;
    background-color: #999;
    background-repeat: none;
}
div#timeline-controls div.on {
    background-color: steelblue;
    cursor: pointer;
}
div#timeline-controls div#timeline-play {
    background-image: url(../images/play.png);
}
div#timeline-controls div#timeline-stop {
    background-image: url(../images/stop.png);
}
div.timeline-event-label {
    margin: 3px 0px 0px 3px;
}

/* info window styles */
div.infowindow {
    height: 8em;
    width: 280px;
}
div.infowindow  h3 {
    margin: 0 0 1em 0;
}
div.infowindow p {
    margin: 0 0 1em 0;
}
div.infowindow  span.zoom {
    font-size: .6em;
}
div.pagenum {
    color: #999;
    font-style: italic;
}

/* pagenav styles. */
#page-nav-view {
    margin-bottom: .5em;
    background: #fff;
    padding: 0 5px 5px 0;
}
#page-nav-view div {
    border: 1px solid #ccc;
    background: #eee;
    float: left;
    margin: 5px 0 0 5px;
    cursor: pointer;
}
#page-nav-view div.current {
    border: 2px solid steelblue;
    margin-top: 4px;
    cursor: auto;
}
#page-nav-view div.haspoi {
    background: yellow;
}