/* GapVis styles. */

html, body {
    font-family: Georgia, Garamond, serif;
    overflow: hidden;
}

h1, h2, h3, h4 {
    color: #555;
}
h4 {
    font-style: italic;
}
h1 {
    font-style: italic;
}
ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 1.5em;
}
li {
    margin: 0 0 .5em 0;
}
a:link, a:visited {
    color: steelblue;
}
a:hover, a:active {
    color: orange;
}

/* header */
header {
    padding: 10px 20px 0 20px;
    height: 40px;
}
header h1 {
    margin: 0;
    float: left;
}
header h1 span.beta {
    font-style: normal;
    font-weight: normal;
    font-size: .5em;
    color: #999;
}
header button {
    margin: .5em 1.5em;
}
footer {
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    font-size: .8em;
    color: #999;
}

/* top view */
div.topview {
    position: absolute;
    background: #eee;
    top: 50px;
    bottom: 30px;
    right: 20px;
    left: 20px;
    padding: 15px;
    display: none;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
}
div.navigation-view {
    float: right;
    width: 410px;
    margin-left: 20px;
    text-align: right;
}
div.panel {
    background: #FFF;
    border: 1px solid #CCC;
}

/* index view */
#book-list-view {
    width: 40%;
    padding: 1em;
    overflow: auto;
    float: left;
}
#book-list em {
    font-style: italic;
}
#instructions {
    margin-left: 45%;
    width: 45%;
    overflow: auto;
    padding: 0 2em 1em 2em;
}
div.thumbs {
    width: 100px;
    margin-left: 1em;
    float: right;
}
div.thumbs img {
    margin-bottom: 1em;
}

/* book reading view */
div#reading-pane {
    position: relative;
    width: 40%;
    height: 80%;
    float: left;
}
div#timemap-view {
    position: relative;
    margin-left: 40%; 
    height: 80%;
}
div#page-view {
    position: relative;
    overflow: hidden;
    height: 100%;
}
div.single-page {
    position: absolute;
    top: 0;
    bottom: 20px;
    overflow: auto;
    margin-bottom: 1em;
    font-size: 1.2em;
    padding: 1.5em 1em;
    display: none;
}
div.single-page .img {
    display: none;
}
div.single-page .img img {
    width: 100%;
}
div#page-control-view {
    width: 95%;
    position: absolute;
    bottom: 0;
}

/* book summary view */
div#place-freq-bars-view {
    float: right;
    width: 400px;
    padding: 1.5em 1em;
    overflow: auto;
}
div#place-freq-bars-view svg {
    width: 380px;
}
div#place-freq-bars-view text.title {
    text-anchor: end;
    font-size: 10px;
    cursor: pointer;
}
div#book-summary-text-view {
    margin-right: 450px;
}

/* book place view */
div#place-summary-container {
    float: left;
    width: 350px;
    padding: 15px 10px;
    margin-right: 15px;
    overflow: auto;
}
div#place-summary-container p {
    margin: 0 0 .5em 0;
}
div#place-summary-container h4 {
    margin: 1.5em 0 .5em 0;
}
#place-freq-bars-view h3,
#place-summary-container h3 {
    margin: 0 0 .5em 0;
}
#related-places-view p {
    font-size: .88em;
}
div#place-map-view {
    position: relative;
    margin-left: 385px;
}
div#place-flickr-view {
    position: relative;
    padding: 15px 10px;
    height: 93px;
    margin: 15px 0 0 387px;
}
div#place-flickr-view h4 {
    margin: 0 0 5px 0;
    display: inline-block;
}
span.flickr-link {
    display: none;
}
div#place-flickr-view div.photos {
    width: 100%;
    height: 75px;
    overflow: hidden;
}
div.flickr-photo {
    float: left;
    margin: 0 10px 10px 0;
}

/* specific text styles */
header h1 a:link, header h1 a:visited {
    color: steelblue;
    text-decoration: none;
}
span.place {
    color: steelblue;
    cursor: pointer;
    font-weight: bold;
}
span.place:hover {
    color: orange;
}
span.place.hi {
    background: yellow;
}

div.book-title-view h2 {
    margin: 0;
}
div.book-title-view h2.on {
    cursor: pointer;
}
div.book-title-view p {
    margin-top: 0;
}

/* page control buttons */
span.control {
    color: #999;
    cursor: default;
}
span.control.on {
    color: steelblue;
    cursor: pointer;
}
span.control.on:hover {
    color: orange;
}
#page-id {
    width: 3.5em;
    text-align: center;
    font-family: Georgia, Garamond, serif;
}
div#nextprev{
    float: right;
}
span.goto-reading {
    font-size: 2em;
    float: right;
}

/* timemap styles. */
div#timeline-container{
    position: relative;
    height: 35%;
    width: 100%;
}
div#timeline{
    font-size: 12px;
    height: 100%;
    width: 100%;
    background: #CCCCCC;
}
div#map-container {
    width: 100%;
    height: 65%;
}
div#map {
    width: 100%;
    height: 100%;
    background: #EEEEEE;
}
div#timemap-legend-container {
    position: absolute;
    height: 30px;
    bottom: 0;
    margin-bottom: -43px;
    width: 100%;
    text-align: right;
}
div#timemap-legend-container img {
    margin: 0 5px 3px 5px;
}

/* timeline controls */
div#timeline-controls {
    position: absolute;
    top: 0;
    z-index: 1000;
    background: #ccc;
    width: 25px;
    height: 50px;
}
div#timeline-controls div {
    width: 16px;
    height: 16px;
    margin: 5px;
    background-color: #999;
    background-repeat: none;
}
div#timeline-controls div.on {
    background-color: steelblue;
    cursor: pointer;
}
div#timeline-controls div#timeline-play {
    background-image: url(../images/play.png);
}
div#timeline-controls div#timeline-stop {
    background-image: url(../images/stop.png);
}
div.timeline-event-label {
    margin: 3px 0px 0px 3px;
}

/* info window styles */
div.infowindow {
    height: 8em;
    width: 280px;
}
div.infowindow  h3 {
    margin: 0 0 1em 0;
}
div.infowindow p {
    margin: 0 0 1em 0;
}
div.infowindow  span.zoom {
    font-size: .6em;
}
div.pagenum {
    color: #999;
    font-style: italic;
}

/* pagenav styles. */
#page-nav-view {
    margin-bottom: .5em;
    background: #fff;
    padding: 0 5px 5px 0;
}
#page-nav-view div {
    border: 1px solid #ccc;
    background: #eee;
    float: left;
    margin: 5px 0 0 5px;
    cursor: pointer;
}
#page-nav-view div.current {
    border: 2px solid steelblue;
    margin-top: 4px;
    cursor: auto;
}
#page-nav-view div.haspoi {
    background: yellow;
}

/* edit reference form */
#change-this-link {
    position: absolute;
    display: none;
}
#change-this-link button {
    position: absolute;
    bottom: 0;
    right: 0;
}
#change-this-form {
    display: none;
}
#change-this-form textarea {
    width: 100%;
}
#change-this-form label {
    display: block;
    font-weight: bold;
    margin: .5em 0;
}
#change-this-form  span {
    font-weight: bold;
    color: steelblue;
}
.ui-dialog-titlebar {
    display:none
}
#change-this-form div.msg {
    color: orange;
    margin: .5em;
    font-size: 1.5em;
    text-align: center;
}