/* GapVis styles. */

body {
    font-family: Georgia, Garamond, serif;
}
h1, h2, h3, h4 {
    font-style: italic;
    color: steelblue;
}

/* structure */
header {
    margin: 10px 20px;
}

div.topview {
    background: #eee;
    margin: 0 20px 30px 20px;
    padding: 15px;
    display: none;
    position: absolute;
    width: 95%;
    height: 85%;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
div#reading-pane {
    width: 450px;
    float: left;
}
div#timemap-view {
    margin-left: 450px; 
    border: 1px solid #CCC;
}
div#page-view {
    overflow: hidden;
}
div.single-page {
    background: #FFF;
    border: 1px solid #CCC;
    height: 500px;
    width: 400px;
    overflow: auto;
    margin-bottom: 1em;
    font-size: 1.2em;
    padding: 1.5em 1em;
}
div.single-page .img {
    display: none;
}
div.single-page .img img {
    width: 350px;
}
div#page-control-view {
    width: 400px;
}

/* specific text styles */
header h1 a {
    text-decoration: none;
}
a.permalink {
    float: right;
}
span.place {
    color: steelblue;
    cursor: pointer;
    font-weight: bold;
}
span.place.hi {
    background: yellow;
}

a:link, a:visited, #book-list li {
    color: steelblue;
    cursor: pointer;
}

div.book-title-view h2 {
    margin: 0;
}
div.book-title-view h2.on {
    cursor: pointer;
}
div.book-title-view p {
    margin-top: 0;
}

/* page control buttons */
span.control {
    color: #999;
    cursor: default;
}
span.control.on {
    color: steelblue;
    cursor: pointer;
}
span#prev {
    margin-right: 15px;
}
div#nextprev{
    float: right;
}

/* timemap styles. */
div#timelinecontainer{
    width: 100%;
    height: 200px;
    position: relative;
}
div#timeline{
    width: 100%;
    height: 100%;
    font-size: 12px;
    background: #CCCCCC;
}
div#timeline-controls {
    position: absolute;
    top: 0;
    z-index: 1000;
    background: #ccc;
    width: 25px;
    height: 50px;
}
div#timeline-controls div {
    width: 16px;
    height: 16px;
    margin: 5px;
    background-color: #999;
    background-repeat: none;
}
div#timeline-controls div.on {
    background-color: steelblue;
    cursor: pointer;
}
div#timeline-controls div#timeline-play {
    background-image: url(../images/play.png);
}
div#timeline-controls div#timeline-stop {
    background-image: url(../images/stop.png);
}
div#mapcontainer {
    width: 100%;
    height: 350px;
}
div#map {
    width: 100%;
    height: 100%;
    background: #EEEEEE;
}
div.timeline-event-label {
    margin: 3px 0px 0px 3px;
}
div.infowindow {
    height: 7em;
}
div.infowindow  h3 {
    margin: 0;
}
div.infowindow  span.zoom {
    font-size: .6em;
}
div.pagenum {
    color: #999;
    font-style: italic;
}

/* pagenav styles. */
#page-nav-view {
    margin-bottom: .5em;
    background: #fff;
    padding: 0 5px 5px 0;
}
#page-nav-view div {
    border: 1px solid #ccc;
    background: #eee;
    float: left;
    margin: 5px 0 0 5px;
    cursor: pointer;
}
#page-nav-view div.current {
    border: 2px solid steelblue;
    margin-top: 4px;
    cursor: auto;
}
#page-nav-view div.haspoi {
    background: yellow;
}