<form class="form-horizontal fill">
  <fieldset>
    <h3>Edit Flag for "<%= text_string %>", p. <%= pageID %></h3>
    <div class="top-group">
        <div>
          <label class="radio">
            <input type="radio" name="action" id="action-ignore" value="ignore" checked="">
            Ignore
          </label>
          <label class="radio">
            <input type="radio" name="action" id="action-fix" value="fix">
            Fix
          </label>
          <fieldset class="fix-actions hide">
              <div class="control-group">
                <label class="control-label">Action</label>
                <div class="controls">
                  <label class="radio">
                    <input type="radio" name="fix" id="fix-remove" value="remove" checked="">
                    Remove place reference
                  </label>
                  <label class="radio">
                    <input type="radio" name="fix" id="fix-switch" value="switch">
                    Switch to a different place:
                  </label>
                  <input type="text" class="input-xlarge" id="new-uri">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Also Apply to:</label>
                <div class="controls">
                  <label class="checkbox toggle">
                    <input type="checkbox">
                    Select all/none
                  </label>
                  <div class="panel padded-scroll">
                    <div>
                    <% _.each(other_tokens, function(token) { %>
                      <label class="checkbox">
                        <input type="checkbox" name="othertoken" value="<%= token.id %>">
                        <%= token.snippet %> (p. <%= token.pageID %>)
                      </label>
                    <% }); %>
                    </div>
                  </div>
                </div>
              </div>
          </fieldset>
        </div>
        <div>
            <button class="btn btn-primary">Save Changes</button>
        </div>
  </fieldset>
</form>