<span class="nav-buttons">
    <input type="radio" id="nav-summary-<%= cid %>" data-view-id="nav-summary" name="nav-buttons-<%= cid %>" /><label for="nav-summary-<%= cid %>">Book Summary</label>
    <input type="radio" id="nav-reading-<%= cid %>" data-view-id="nav-reading" name="nav-buttons-<%= cid %>" /><label for="nav-reading-<%= cid %>">Reading View</label>
    <input type="radio" id="nav-place-<%= cid %>" data-view-id="nav-place" name="nav-buttons-<%= cid %>" /><label for="nav-place-<%= cid %>">Place Detail</label>
</span>
<a class="permalink" href="#">Permalink</a>