<nav class="btn-group" data-toggle="buttons-radio">
  <button class="btn btn-small btn-primary" data-view-id="book-summary"><i class="icon-star icon-white"></i> Book Summary</button>
  <button class="btn btn-small btn-primary" data-view-id="reading-view"><i class="icon-book icon-white"></i> Reading View</button>
  <button class="btn btn-small btn-primary" data-view-id="place-view"><i class="icon-globe icon-white"></i> Place Detail</button>
</nav>
<a class="permalink btn btn-primary" href="#"><i class="icon-bookmark icon-white"></i></a>