<span class="nav-buttons">
    <input type="radio" id="book-summary-<%= cid %>" data-view-id="book-summary" name="nav-buttons-<%= cid %>" /><label for="book-summary-<%= cid %>">Book Summary</label>
    <input type="radio" id="reading-view-<%= cid %>" data-view-id="reading-view" name="nav-buttons-<%= cid %>" /><label for="reading-view-<%= cid %>">Reading View</label>
    <input type="radio" id="place-view-<%= cid %>" data-view-id="place-view" name="nav-buttons-<%= cid %>" /><label for="place-view-<%= cid %>">Place Detail</label>
</span>
<a class="permalink" href="#">Permalink</a>